.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.introduce-container {
  width: 100%;
}

.title-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 50px auto;
}

.restaurant-contact {
  margin-bottom: 20px;
  text-align: center;
}

.restaurant-contact > p > i {
  margin-right: 5px;
}

.restaurant-name {
  font-size: 24px;
  line-height: 1.1em;
}

.restaurant-comment {
  margin-bottom: 20px;
  color: rgb(102, 102, 102);
}

address > p {
  line-height: 1.3em;
}

.insta {
  transition: color 200ms;
}

.insta:hover {
  color: #8fbc8f;
}

.hours {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.submit-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 20px auto;
}

.user-name,
.user-commnet {
  padding: 5px;
  border: 1px solid #ededed;
  font-size: 13px;
}

.user-name {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}

.user-commnet {
  width: 500px;
  height: 100px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 7px;
  resize: none;
}

.submit-button {
  width: 100px;
  height: 40px;
  margin: 0 30px;
  border-radius: 5px;
  background-color: #ddd2be;
  transition: background-color 200ms;
}

.submit-button:hover {
  color: #808080;
  background-color: #ebe6de;
}

.review-list {
  width: 100%;
  height: 360px;
  margin: 0 auto 20px auto;
  overflow-y: scroll;
}

.review-list::-webkit-scrollbar {
  width: 12px; /* Chrome, Safari, Opera*/
}

.review-list::-webkit-scrollbar-thumb {
  border: #e0e0e0 solid 1px;
  border-radius: 6px;
  background: #ffffff;
}

.review-list::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #e0e0e0;
}

.comment-box {
  display: flex;
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.avatar {
  position: relative;
  top: 5px;
  width: 36px;
  height: 36px;
}

.comment {
  width: 85%;
  margin-left: 20px;
}

.comment-user-name {
  font-size: 13px;
}

.time {
  color: #808080;
  font-size: 11px;
}

.text {
  margin-top: 5px;
  font-size: 13px;
  word-break: keep-all;
}

.like {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-button {
  font-size: 18px;
  color: #e0e5e7;
}

.like-count {
  font-size: 11px;
}

.fade-in-box {
  animation: fadein 0.3s;
  -moz-animation: fadein 0.3s; /* Firefox */
  -webkit-animation: fadein 0.3s; /* Safari and Chrome */
  -o-animation: fadein 0.3s; /* Opera */
}

.showMore {
  display: block;
  width: 100px;
  height: 40px;
  background-color: thistle;
  margin: 20px auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .title-img {
    height: auto;
  }

  .review-list {
    width: 95%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .review-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  .submit-form {
    width: 95%;
    justify-content: space-around;
  }

  .user-name {
    width: 20%;
  }

  .user-commnet {
    width: 75%;
    margin-left: 0;
  }

  .review-list {
    width: 95%;
  }

  .comment-box {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .restaurant-name {
    font-size: 20px;
  }

  .restaurant-contact {
    font-size: 12px;
  }

  .hours {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .info {
    margin: 30px 0;
  }

  .restaurant-name {
    font-size: 17px;
  }

  .restaurant-comment {
    font-size: 11px;
  }

  .hours {
    font-size: 13px;
  }

  .user-commnet {
    height: 80px;
  }

  .submit-button {
    width: 80px;
    height: 35px;
  }
}
