.contents {
  width: 700px;
  margin: 0 auto;
}

.title-img {
  width: 100%;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 50px auto;
}

.restaurant-contact {
  margin-bottom: 20px;
  text-align: center;
}

.restaurant-contact > p > i {
  margin-right: 5px;
}

.restaurant-name {
  font-size: 24px;
  line-height: 1.1em;
}

.restaurant-comment {
  margin-bottom: 20px;
  color: rgb(102, 102, 102);
}

.phone,
.location,
.insta {
  line-height: 1.2em;
}

.insta {
  transition: color 200ms;
}

.insta:hover {
  color: #8fbc8f;
}

.hours {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.submit-review {
  width: 700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 20px auto;
}

.user-name,
.user-commnet {
  padding: 5px;
  border: 1px solid #ededed;
  font-size: 13px;
}

.user-name {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}

.user-commnet {
  width: 500px;
  height: 100px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 7px;
  resize: none;
}

.submit-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #ddd2be;
  transition: background-color 200ms;
}

.submit-button:hover {
  color: gray;
  background-color: #ebe6de;
}

.review-list {
  width: 700px;
  height: 380px;
  margin: 0 auto;
  overflow-y: scroll;
}

.comment-box {
  display: flex;
  width: 600px;
  height: 100px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.avatar {
  position: relative;
  top: 5px;
  width: 36px;
  height: 36px;
}

.comment {
  width: 85%;
  margin-left: 20px;
}

.comment-user-name {
  font-size: 13px;
}

.time {
  color: #808080;
  font-size: 11px;
}

.text {
  margin-top: 5px;
  font-size: 13px;
  word-break: keep-all;
}

.like {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-button {
  font-size: 18px;
  color: #e0e5e7;
}

.like-count {
  font-size: 11px;
}

.fade-in-box {
  animation: fadein 0.3s;
  -moz-animation: fadein 0.3s; /* Firefox */
  -webkit-animation: fadein 0.3s; /* Safari and Chrome */
  -o-animation: fadein 0.3s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
